$dark-gray:#282c34;

nav .nav-wrapper{
    background-color:transparent;
    padding-right:50px;
}
nav{
    background-color:black;
    padding:0 20px;
    box-shadow:none;
}
strong{
    color:yellow;
}
nav ul a:hover{
    background-color:rgba(156, 160, 48, 0.1);
}
.li-cart{
    i{
        padding:0 13px;
    }
    span{
        float:left;
    }
}
.qtd_items_animation{
    animation:qtd_item_animation 2s;
}
@keyframes qtd_item_animation {
   0%   { color: white; }
   50%  { color: yellow; }
   100%  { color: white; }
}

