$medium-gray:#5a5a5a;

#perfil-content{
    min-height:100vh;
    padding:8% 15%;
}

.pc-infos{
    width:100%;
    height:35vh;
    margin-bottom:0;
    img{
        height:20vh;
        float:left;
    }
}
.pc-infos-text{
    width:60%;
    float:left;
    padding-left:40px;
    p{
        font-size:14px;
        line-height:.8rem;
    }
    strong{
        color:yellow;
    }
}
.pc-tables{
    color:white;
    background-color:$medium-gray;
    padding:4%;
    h1{
        margin-top:0;
        padding-top:0;
        color:white;
    }
    th{
        color:yellow;
    }
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
  margin: 20px 45%;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}