$medium-gray:#5a5a5a;

#loja-content{
    min-height:100vh;
    padding:8% 15%;
    h1{
        text-align:center;
    }
}
.lc-rect{
    padding-top:10vh;
}
.lc-box{
    padding:4% 0;
    position:relative;
    h5{
        color:white;
        font-weight:500;
        padding:0;
        margin:5px 0;
        text-align:center;
        font-size:16px;
    }
    .lc-top-icons{
        z-index:2;
        position:absolute;
        width:100%;
        padding:5px 6px;
        opacity:0;
        transition:.4s;
        i{
            padding-top: 2px;
        }
        .btn-class{
            border-radius: 100%;
            margin: 0 5px;
            width: 37px;
            height: 35px;
            padding: 0 2px;
            border-color:none;
            box-shadow:none;
        }
        .btn-class:hover{
            background-color:red;
        }
        .btn-class:active{
            background-color:red;
        }
        .btn-class:focus {
            background-color: red;
        }
    }
    img{
        width:100%;
        height:150px;
    }
}
.lc-box:hover{
    img{
        z-index:1;
        opacity:0.6;    
    }
    .lc-top-icons{
        opacity:1;
        transition:.3s;
    }
}
.lc-price{
    float:left;
    width:40%;
    i{
        float:left;
        color:white;
    }
    p {
        float: left;
        margin: 3px 5px;
        color:yellow;
    }
}
