$medium-gray:#5a5a5a;

#loja-content{
    min-height:100vh;
    padding:8% 15%;
    h1{
        text-align:center;
    }
}
.lc-rect{
    padding-top:10vh;
}
.lc-box{
    padding:4% 0;
    position:relative;
    .lc-top-icons{
        position:absolute;
        width:100%;
        padding:5px 6px;
        opacity:0;
        transition:.4s;
        i{
            width:50%;
        }
        .i-left{
            text-align:left;
        }
        .i-right{
            text-align:right;
        }
    }
    img{
        width:100%;
        height:150px;
    }
}
.lc-box:hover{
    opacity:0.9;
    .lc-top-icons{
        opacity:1;
        transition:.3s;
    }
}